@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: black;
    /* height: 222%; */
    width: 100%;
    /* height: 200vh; */
}
.M{
    height: 111vh;
}

.mainimg{
    height: 100vh;
}

.main{
    background-image: url("asserts/images/bgok.jpg");
    background-position: center;
    /* background-size: 1200px 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 91%;
    scale: 1.45;
    /* To remove scroll from image */
    width: 81.653%;
    position: relative;
}


.seperator{
    height: 10px;
    width: 100%;
    background-color: #232323;
    border: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 80vh;
}

.nav img{
    /* position: relative;
    top: 50%;
    left: 10%;
    z-index: 10; */
    width: 50px;
    height: 20px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.layer{
    width: 100%;
    height: 111vh;
}

.back{
    width: 100%;
    height: 111vh;
}

.top{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 111.48vh;
    background-color: rgba(0, 0, 0, 0.644);
    /* z-index: 10; */
}

.workingarea{
    z-index: 10;
    width: 80%;
    /* max-width: 1600px; */
    height: 100%;
    /* background-color: #663d26; */
    margin: 0 auto;
    border: 1px solid rgba(255, 0, 0, 0);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    /* padding: 0 auto;
    width: 80vh;
    display: flex;
    justify-content: space-between; */
    width: 100%;
    padding: 0 7px;
    padding-top: 3px;
}

.nav .nvleft img{
    width: 188px;   
    height: 80px;
    /* height: 80px; */
    z-index: 10;
    filter: invert(10%) sepia(97%) saturate(7454%) hue-rotate(355deg) brightness(92%) contrast(96%);
} 

.btnright{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
    /* margin-top: px; */
    margin-right: 20px;
}

.btn-1{
    display: flex;
    font-size: 16px;
    align-items: center;
    line-height: 20px;
    font-family: 'Netflix Sans';
    gap: 2px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    width: 125px;
    height: 32px;
    margin-right: 2px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.566);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.854);
    background-color: transparent;
}

.btn-1 .lang img{
    margin-top: 1px;
    margin-left: 20px;
    width: 30px;
    height: 16px;
}

.btn-1 .arrow img{
    margin-top: 6px;
    padding-right: 18px;
    height: 17px;
}


/* .nav .btnright{
    /* width: 100px; */
    /* height: 50px; */
/* } */ 

.btn-2{
    width: 75px;
    height: 32px;
    border-radius: 5px;
    border: none;
    background-color: #c11119;
    font-family: 'Netflix Sans';
    color: #fff;

}

.hero{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 18.7%;
    align-items: center;
    gap: 17px;
    width: 100%;
    height: 80vh;
    /* background-color: red; */
}

.hero h1,p{
    color: #fff;
}

.hero h1{
    font-family: 'Segoe UI Black';
    font-weight: 900;
    font-size: 46px;
    text-align: center;
    
    /* word-spacing: 5px; */
    /* letter-spacing: 2px; */
}

.hero p:nth-child(2){
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 24px;
    border: 2px solid black;
    
}

.hero p:nth-child(3){
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 20px;
    border: 2px solid black;
    
}

.emailbtn{
    display: flex;
    gap: 5px;
}

.emailbtn input{
    width: 342px;
    height: 56px;
    padding: 10px;
    font-size: 16px;
    color: #b7b7b7;
    font-family: 'Netflix Sans';
    line-height: 24px;
    background-color: #222221a0;
    border: 1px solid #5e5e5e;
    border-radius: 4px;

}

.emailbtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 209px;
    height: 56px;
    background-color: #c11119;
    color: #fff;
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    border: transparent;
    border-radius: 4px;
}

/* .section-1{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 80vh;
    width: 80%;
    /* background-color: red; */
    /* border: 1px solid greenyellow; */
/* } */ 

/* .text{
    /* height: 400px; */
    /* width: 500px; */
    /* border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
} */

/* .text > h1{
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-size: 50px;
    color: white;
    padding-bottom: 10px;
} */

/*.image{
    width: 340px;
    height: 280px;
    background-color: #fff;
}*/

.scroll{
    height: 400vh;
    width: 100%;
    /* background-color: #e36e74; */
    /* margin-top: 30px; */
    padding-top: 51px;
}

.section-1{
    /* position: absolute; */
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 145vh;
    border: 2px solid red;
    height: 53vh;
    /* gap: 30px; */
    /* padding-bottom: 72px; */
}

.text{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    border: 2px solid red;
    width: 477px;
    height: 193px;
    
}

.sec-1-head{
    font-size: 48px;
    font-family: 'Netflix Sans';
    font-weight: 900;
    padding-bottom: 10px;
}

.sec-1-text{
    /* padding-top: 10px; */
    font-size: 24px;
    font-family: 'Netflix Sans';
    font-weight: 400;
}

.image{
    /* -ms-flex-align: end; */
    /* flex-direction: end; */
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid purple;
    height: 100%;
    width: 50%;
}

.image img{
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 10;
}

.image video{
    position: absolute;
    top: 3px;
    /* height: 55.7%; */
    height: 91%;
    /* width: 80%; */
    width: 350px;
    /* top: 200px; */
}


.sec-1-all-txt{
    color: #fff;
}


.seperatorsec-1{
    margin-top: 72px;
    height: 10px;
    width: 100%;
    background-color: #232323;
    border: none;
    margin-bottom: 72px;
}

.section-2{
    /* position: absolute; */
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 145vh;
    border: 2px solid red;
    height: 53vh;
    /* gap: 30px; */
    /* padding-bottom: 72px; */
}

.seperatorsec-2{
    margin-top: 72px;
    height: 10px;
    width: 100%;
    background-color: #232323;
    border: none;
    margin-bottom: 72px;
}

.seperatorsec-3{
    margin-top: 72px;
    height: 10px;
    width: 100%;
    background-color: #232323;
    border: none;
    margin-bottom: 72px;
}
